/* For Production */
/****************************
font-family: 'Open Sans', sans-serif;
font-family: 'Passion One', cursive;
*****************************/
body{
    font-family: 'Passion One';
}
/*loader*/
.loader{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    z-index:11;
}
.loader-logo{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 35%;
    width: 130px;
}
.loader figure{
    position: relative;
    margin: 0 auto;
    top: 40%;
    width: 126px;
    height: 126px;
}
.loader figure p{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    top: 48px;
}
@media (max-width:550px){
    .container img{
        width: 90%;
    }
    .loader-logo{
        top: 30%
    }
}
/*menu*/
.menu{
    position: absolute;
    width:100%;
    margin: 0;
    left:0;
    z-index: 10;
}
.menu-top{
    padding-top:25px;
    padding-bottom:25px;
}
.menu-top img{
    width: 140px;
    height: 27px;
}
.menu-bottom{
    padding-top:7px;
    padding-bottom:7px;
}
.menu-bottom ul{
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.menu-bottom ul li:first-child{
    margin-left: 0px;
}
.menu-bottom ul li{
    display: inline-block;
    margin: 0;
    padding: 0px 20px;
    height: 34px;
    line-height: 34px;
    list-style: none;
    margin-left: -4px;
    cursor: pointer;
}
.menu-bottom a{
    color: #FFFFFF;
    font-weight: 100;
    font-size: 15px;
    text-decoration: none;
}
.menu-bottom ul li > ul{
    display: none;
    background: rgba(190, 4, 17, 0.96);
    position: absolute;
    top: 40.2px;
    padding: 10px;
    left: 0;
    text-align: left;
    z-index: 5;
}
.menu-bottom ul li > ul li:hover{
    background: #880303;
    border-radius: 15px;
}
.menu-bottom ul li:hover ul{
    display: block;
}
.menu-bottom ul li > ul li{
    display: block;
}
#logo-nav{
    display: none;
    width: 80px;
    margin-right: 50px;
}
#logo-nav img{
    width: 80px;
    margin-right: 100px;
}
.bar {
    position: absolute;
    top: 37.2px;
    height: 3px;
    background: #be0411;
    transform: translate3d(0,0,0);
    transition: all .3s;
    transition-timing-function: ease-out;
    z-index: -1;
}
.space{
    height: 76px;
}
/*header*/
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/pack-presentation-red.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    overflow: hidden;
}
.pack-header{
    position: relative;
}
.pack-fancesa-top{
    opacity: 0;
}
.pack-fancesa-top img{
    transform: translateY(50px);
}
.pack-fancesa-top, .pack-fancesa-top img{
    width: 400px;
    height: 625px;
}
.pack-fancesa-top{
    display: inline-block;
    position: relative;
    -webkit-transition: .0001s easeOutSine;
    -moz-transition:.0001s easeOutSine;
    -ms-transition:.0001s easeOutSine;
    -o-transition:.0001s easeOutSine;
    transition: .0001s easeOutSine;
}
.header h2{
    position: relative;
    color: #fff;
    font-size: 3.5em;
    font-weight: 100;
    line-height: 1.2;
    top: 50px;
    user-select: none;
    cursor: default;
}
/* separator */

#svg{
    position: absolute;
    bottom: -1px;
    left: 0px;
    fill: #f6f6f6;
}
/*section a*/
.sNa{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    background: #f6f6f6;
}
.sNa-detail{
    user-select: none;
    position: absolute;
    right: 100px;
    height: 440px;
}
.sNa-detail h2{
    font-weight: 100;
    font-size: 3em;
    text-align: right;
    line-height: 1;
}
/*mapa*/
#map{
    position: relative;
    height: 440px;
}
#map svg:not(:root) {
    overflow: hidden;
}
#map svg{
	width: 390px;
    height: 450px;
    position: relative;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#map svg path{
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.land{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke: #FFFFFF;
    stroke-opacity: 1;
    stroke-width: 0.8;
}
.land:hover{
    fill: #a2a1a1;
}
.land-disabled{
    fill: #dbdada;
    stroke: #ffffff;
}
.dhover{
    fill: #be0411 !important;
    fill-opacity: 0.7 !important;
    stroke-width: 2px !important;
    stroke: #fff !important;
}

/*departamentos*/
#deps{
    font-size: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
#deps li{
        height: 40px;
}
#deps li a{
    display: block;
    text-decoration: none;
    color: #9b9898;/*#cecccc;*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#deps li a:hover{
	font-size: 1.2em;
	color: #be0411;
}
.dep-def li:first-child a{
    font-size: 1.2em;
	color: #be0411!important;
}
#depbig h1{
	display: none;
    font-size: 35px;
    text-align: right;
    color: #be0411;
    margin-top: 120px;
}
/*section b*/
.sNb{
    padding-top: 0px;
    padding-bottom: 40px;
    background: #f6f6f6;
}
.sNb-detail a{
    display: inline-block;
    position: relative;
    background: rgba(45, 45, 45, 0.85);
    color: #FFFFFF;
    padding: 4px 20px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 100;
    margin-top: 15px;
    text-decoration: none;
    transition: all 0.2s;
    transition-property: background,color;
}
.sNb-detail a:hover{
    background: rgba(190, 4, 17, 0.86)!important;
    color: #fff;
}
#pointer{
    position: relative;
    margin: 0 auto;
    width: 34px;
    height: 50px;
    background: url(../images/pointer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
#svg2{
    fill: #f6f6f6;
    background: transparent;
    position: absolute;
}
/*section c*/
.sNc{
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    background: url(../images/concreto-pattern-min.jpg);
}
.sNc .pack-effect{
    text-align: right;
}
.pack-fancesa, .pack-fancesa img{
    width: 275.2px;
    height: 403.2px;
}
.pack-fancesa{
    display: inline-block;
    position: relative;
    right: 100px;
    top: 0px;
    -webkit-transition: .0001s;
    -moz-transition:.0001s;
    -ms-transition:.0001s;
    -o-transition:.0001s;
    transition: .0001s;
}
.sNc-detail{
    user-select: none;
    height: 390px;
    display: table;
}
.sNc-detail h2{
    color: #6d0707;
    font-size: 3em;
    font-weight: 100;
    line-height: 1;
}
.sNc-detail a{
    color: #ae0612;
    border: 1px solid #ae0612;
    background: rgba(255, 255, 255, 0.66);
    padding: 8px 36px;
    transition: all 0.2s;
    transition-property: background,border-color,color;
}
.sNc-detail:only-child{
    display: table-cell;
	vertical-align: middle;
}
.sNc-detail a:hover{
    border-color: transparent;
    background: rgba(190, 4, 17, 0.86)!important;
    color: #fff;
}
.sellos img{
    width: 150px;
    height: 150px;
}
/* button */
.btn:hover{
    text-decoration: none;
}
.btn:hover .icon{
    margin-left: 60px;
    opacity: 0;
}
.btn{
    display: inline-block;
    position: relative;
    width: 230px;
    padding: 8px 36px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 100;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
}
.btn-text{
    display: inline-block;
}
.icon{
    position: absolute;
    margin-left: 10px;
    padding: 0px 12px;
    top: 6px;
    width: 23px;
    height: 28px;
    -webkit-transition: .3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition: .3s;
}
.icon-right-red{
    background: url(../images/angle-right.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-right-white{
    background: url(../images/angle-right-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-right-black{
    background: url(../images/angle-right-black.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.sNd{
    background: url(../images/bg-calendario.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}
.sNd h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: 100;
}
.sNd-detail{
    user-select: none;
    height: 550px;
    width: 380px;
    position: absolute;
    right: 100px;
}
.sNd-detail aside{
    height: 550px;
    width: 500px;
    display: table-cell;
    vertical-align: middle;
}
.sNd-detail h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: 100;
    line-height: 0.1;
}
.sNd-detail img{
    width: 150px;
    height: 29px;
}
.sNd-detail p{
    color: #fcd9d9;
    font-weight: 100;
    line-height: 1.3;
}
.sNd-detail a{
    color: #ffffff;
    border: 1px solid #ffffff;
}

/*section e*/
.sNe{
    display: none;
}
.sNf{
    position: relative;
    background: url(../images/bg-nosotros.jpg);
    background-size: cover;
}
.sNf::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    position: absolute;
    top: 0px;
    left: 0px;
}
.sNf-detail{
    position: relative;
    width: 550px;
    margin: 0 auto;
}
.sNf-detail aside{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 550px;
    z-index: 2;
}
.sNf-detail h2{
    position: relative;
    color: #fff;
    font-size: 4em;
    font-weight: 100;
}
.sNf-detail h2::after{
    content: '';
    width: 125px;
    height: 4px;
    background: #be0411;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 70px;
}
.sNf-detail p{
    color: #fff;
    font-size: 2em;
    font-weight: 100;
    line-height: 1.3;
}
.sNf-detail a{
    display: block;
    color: #fff;
    background: #be0411;
    margin: 0 auto;
}
.btn-white{
    background: #fff!important;
    color: #000!important;
    width: 270px;
    margin-bottom: 30px!important;
}


/* estilos generales */
.detail-p{
    font-family: 'Open Sans';
    font-size: 18px;
}
.upbottom{
    position: fixed;
    display: none;
    bottom: 30px;
    right: 30px;
    padding: 30px;
    border-radius: 50%;
    border: 0;
    background: url(../images/top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    background-color: rgba(190, 2, 17, 0.6);
    outline: none;
}

/* estilos slider */
.carousel {
    background: #000;
}
  
.carousel img {
    display: block;
    height: 200px;
}
.carousel-cell-image {
    display: block;
    /*max-height: 100%;*/
    min-width: 400px;
    background: url(../images/loader_fancesa-black.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    margin: 0 auto;
    /*max-width: 100%;*/
    /*opacity: 0;*/
    -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
}


  
/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
    opacity: 1;
}
@media screen and ( min-width: 768px ) {
    .carousel img {
        height: 400px;
    }
}

/* Responsive Design of NavBar */
@media screen and (max-width:768px) {
    /* nav */
    .menu-top{
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .menu-top img {
        width: 126px;
        height: 24px;
    }    
    .menu-bottom{
        padding: 0;
    }
    .menu-bottom{
        display: none;
    }
    #logo-nav{
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 45px;
        line-height: 0;
        margin: 0;
    }
    #logo-nav img{
        width: 100px;
        height: 25px;
        margin: 0;
    }
    .inside ul{
        position: fixed;
        width: 100%;
        height: 110vh;
        background: rgba(255, 255, 255, 0.95);
        top: 0;
        left: 0;
    }
    .inside ul li{
        display: block;
        padding: 30px 0px;
        padding-left: 40px;
        text-align: left;
        line-height: 0;
        border-bottom: 1px solid #dbdbdb;
    }
    .inside ul li a{
        font-size: 2em;
        color: #000!important;
    }
}

/* Responsive Design of Index*/
@media screen and (max-width:768px) {
    /* header */
    .space{
        height: 40px;
    }
    .header h2{
        font-size: 3.1em;
        top: 20px;
    }
    .pack-fancesa-top, .pack-fancesa-top img {
        width: 250px;
        height: 390px;
    }
}