/*
*
* ESTILOS DEL SECTION B
*
*/
.sNb{
    padding-top: 0px;
    background: #eaebec;
    padding-bottom: 30px;
}

/*
*
 *   Buttom
  *
   */
.btn{
    display: inline-block;
    position: relative;
    background: transparent;
    color: #be0411;
    padding: 4px 30px;
    border-radius: 20px;
    border: 1.2px solid #be0411;
    font-size: 18px;
    font-family: 'Poppins';
    text-decoration: none!important;
    transition: all 0.2s ease;
    transition-property: background,color;
}
.btn:hover, .btn:focus{
    color: #fff;
    background: #be0411;
    border: 1.2px solid transparent;
}
.btn:focus{
    outline: none;
}
.sNb-detail a:hover{
    background: rgba(190, 4, 17, 0.86)!important;
    color: #fff;
}