/*
*
* ESTILOS DEL SECTION A
*
*/
.sNa{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    background: #e9eaeb;
}
.sNa-title{
    color: #000000;
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    line-height: 1;
    margin: 0;
}
.sNa .map-container{
    padding-top:25px;
}
.sNa-detail{
    user-select: none;
    position: absolute;
    right: 100px;
    height: 440px;
}
/*mapa*/
#map{
    position: relative;
    height: 440px;
}
#map svg:not(:root) {
    overflow: hidden;
}
#map svg{
	width: 350px;
    height: 450px;
    position: relative;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#map svg path{
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.land{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke: #FFFFFF;
    stroke-opacity: 1;
    stroke-width: 0.8;
}
.land:hover{
    fill: #be0411;
}
.land-disabled{
    fill: #dbdada;
    stroke: #ffffff;
}
.dhover{
    fill: #be0411 !important;
    fill-opacity: 0.7 !important;
    stroke-width: 2px !important;
    stroke: #fff !important;
}

/*departamentos*/
.dep-def li:first-child a{
    font-size: 1.2em;
    color: #be0411!important;
}
#deps{
    font-size: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-top: 100px;
}
#deps li{
    height: 40px;
}
#deps li a{
    display: block;
    text-decoration: none;
    color: #9b9898;/*#cecccc;*/
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#deps li a:hover{
	font-size: 1.2em;
	color: #be0411;
}
#depbig h1{
	display: none;
    font-size: 35px;
    text-align: right;
    color: #be0411;
    margin-top: 200px;
}
@media screen and (max-width: 768px){
    .sNa-detail{
        position: relative;
        right: 0;
        height: 280px;
    }
    #deps{
        font-size: 2.3em;
        text-align: center;
        margin-top: 0px;
    }
    #deps li{
        height: 50px;
    }
    #deps li a{
        display: inline;
        color: #6e6e6e;
    }
    #deps li a:hover, .dep-def li:first-child a:hover{
        font-size: 1.2em;
        color: #be0411!important;
    }
    .dep-def li:first-child a{
        font-size: 1em;
        color: #6e6e6e!important;
    }
}
